body{ 
    margin: auto;
    width: 1200px;
}

img{
    margin: auto;
    width: 100%;
}

div{
    list-style-type: none;
    margin: auto;
    padding: 25pxpx;
    width: 600px;
    height: auto;
    overflow: auto;
}


p{
    text-align: center;
    margin: auto;
    width: 250px;
    font-size: 25px;
    border: 2px solid rgb(160, 50, 50);
    border-radius: 250px;
    padding: 5px;
}

p a{
    display: block;
    color: black;
    padding: 0;
    text-decoration: none;
    border-radius: 250px;
}

div p a .menu2{
    margin-left: 250px;
    margin-top: -5550px;
}

p a.activo{
    background-color: green;
    color: white;
    padding: 0;
    border-radius: 250px;
}
  
p a:hover:not(.activo) {
    background-color: #555;
    color: whitesss;
    padding: 0;

}