body{ 
    margin: auto;
    width: 1200px;
}

.slider {
  width: 95%;
  overflow: hidden;
  margin: auto;
  border-radius: 50px;
  height: 250px;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 400%;

  animation: cambio 25s infinite alternate linear;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

div .menu{
    list-style-type: none;
    margin: auto;
    padding: 25pxpx;
    width: 600px;
    height: auto;
    overflow: auto;
}


p{
    text-align: center;
    margin: auto;
    width: 250px;
    font-size: 25px;
    border: 2px solid rgb(160, 50, 50);
    border-radius: 250px;
    padding: 5px;
}

p a{
    display: block;
    color: black;
    padding: 0;
    text-decoration: none;
    border-radius: 250px;
}

div p a .menu2{
    margin-left: 250px;
    margin-top: -5550px;
}

p a.activo{
    background-color: green;
    color: white;
    padding: 0;
    border-radius: 250px;
}
  
p a:hover:not(.activo) {
    background-color: #555;
    color: whitesss;
    padding: 0;

}
