.estatico {
  position: static;
  border: 5px solid rgb(26, 23, 218);
}

.relativa {
  position: relative;
  left: 60px;
  border: 5px solid rgb(134, 218, 23);
}

.fija {
  position: fixed;
  top: 0;
  left: 400px;
  border: 5px solid rgb(25, 231, 221);
}

.contenedorrelativo {
  position: relative;
  width: 500px;
  height: 500px;
  border: 5px solid red;
}

.contenedorabsoluto {
  position: absolute;
  top: 100px;
  left: 0;
  width: 250px;
  height: 250px;
  border: 5px solid peru;
}

.ancla {
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: rgb(51, 146, 153);
  border: 5px solid rgb(5, 5, 61);
}

.contenido {
  padding-bottom: 1000px;
}

img {
  width: 100;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.contenedorimagen {
  position: relative;
  max-width: 1000px;
}

.contenedorimagen img {
  width: 100%;
  height: auto;
  opacity: 40%;
}

.textoderecha {
  position: absolute;
  right: 20px;
  top: 200px;
}
