li {
  display: inline;
}

span {
  display: block;
}

a {
  display: block;
}

p span {
  display: inline-block;
  width: 25%;
}

.elementolista p {
  display: lista-item;
  margin-left: 50px;
}

.contenedor {
  display: table;
  border-spacing: 10px;
}

.contendido {
  display: table-row;
}

.secundario .principal,
.lateral {
  display: table-cell;
}

.principal {
  width: 60%;
}

.secundario .lateral {
  width: 20%;
}

.flexible {
  display: flex;
  margin-bottom: 10px;
  background-color: gainsboro;
}
.flexible p {
  width: 25%;
  border: black 1px solid;
  margin: 2px;
}

.flexible2 {
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(74, 223, 210);
}

.flexible2 p {
  width: 200px;
  border: black 1px solid;
  margin: 2px;
}

.flexible3 {
  display: flex;
  flex-direction: column;
  background-color: cornsilk;
}

.flexible3 p {
  width: 200px;
  border: black 1px solid;
  margin: 2px;
}

.flexible4 {
  display: flex;
  flex-direction: column-reverse;
  background-color: yellowgreen;
}

.flexible4 p {
  width: 200px;
  border: black 1px solid;
  margin: 2px;
}

/* flex-wrap Establece todos los elementos de acuerdo  la seleccion*/
/*no-wrap establece que todos los elemnto esten en una linea*/

.flexible5 {
  display: flex;
  flex-wrap: no-wrap;
  background-color: crimson;
}

.flexible5 p {
  width: 200px;
  border: black 1px solid;
  margin: 2px;
}

/*wrap establece que todos los elemnto esten en varias linea*/

.flexible6 {
  display: flex;
  flex-wrap: wrap;
  background-color: cyan;
}

.flexible6 p {
  width: 200px;
  border: black 1px solid;
  margin: 2px;
}

/* wrap-reverse establece que todos los elementos se coloquen en varias linea
pero de arriba hacia abajo*/

.flexible7 {
  display: flex;
  flex-wrap: wrap-reverse;
  background-color: rgb(136, 37, 194);
}

.flexible7 p {
  width: 200px;
  border: black 1px solid;
  margin: 2px;
}

/*flex-flow permite stablecer simultaneamente las propiedades
flex-direcction y flex-wrap*/
.flexible8 {
  display: flex;
  flex-flow: row-reverse wrap;
  background-color: rgb(37, 194, 129);
}

.flexible8 p {
  width: 200px;
  border: black 1px solid;
  margin: 2px;
}

.flexible9 {
  display: flex;
  flex-flow: wrap row-reverse;
  background-color: rgb(235, 145, 27);
}

.flexible9 p {
  width: 200px;
  border: black 1px solid;
  margin: 2px;
}

/*si queremos obtener el mismo resultado por separado*/
.flexible10 {
  display: flex;
  flex-flow: wrap;
  flex-direction: row-reverse;
  background-color: rgb(93, 235, 27);
}

.flexible10 p {
  width: 200px;
  border: black 1px solid;
  margin: 2px;
}
