.contenedor {
  background-color: khaki;
  width: 980px;
  height: 800px;
  background-color: #707070;
  margin: auto;
}
.cabecera {
  background-color: khaki;
  width: 980px;
  height: 250px;
  background-color: red;
  margin: auto;
}

.menu {
  background-color: khaki;
  width: 310px;
  height: 490px;
  background-color: blue;
}
.contenido {
  background-color: khaki;
  width: 670px;
  height: 490px;
  background-color: #e8c61d;
  margin-left: 310px;
  margin-top: -490px;
}

.pie {
  background-color: khaki;
  width: 980px;
  height: 60px;
  background-color: #1bf313;
  margin-right: 0px;
}
