/* Aplicamos estilos universales */
* {
  margin: 0;
  padding: 0;
}

/* Aplicamos estilos al body */
body {
  font-family: "Open Sans";
  font-size: 16px;
  margin-top: 0;
}
/* -----------------CABECERA--------------- */
/* Aplicamos estilos al contenedor */
.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

/* Aplicamos estilos al header */
header {
  background: url(/img/foto2.jpg);
  background-position: no-repeat;
  background-position: center;
  max-height: 600px;
}

/* Aplicamos estilos para el menu */
header nav {
  margin: 40px 0;
  text-align: right;
}

header nav a {
  margin: 0 20px;
  padding-bottom: 9px;
  text-decoration: none;
  border-bottom: 2px solid grey transparent;
  color: rgb(255, 255, 255);
}

header nav a:hover {
  border-bottom: 2px solid rgb(0, 255, 76);
}

/* Aplicamos el estilo al contenedor texto */
header .contenedortexto {
  justify-content: center;
  align-content: center;
  margin: 190px 0;
}

header .contenedortexto .texto {
  border: 5px solid grey;
  border-radius: 10px;
  text-align: center;
  padding: 20px 60px;
}

header .contenedortexto .texto h1,
header .contenedortexto .texto h2 {
  color: white;
  font-weight: bolder;
  margin: 0;
}

header .contenedortexto .texto .nombre {
  margin-bottom: 10px;
  font-size: 50px;
}

header .contenedortexto .texto .profesion {
  margin-bottom: 10px;
  font-size: 25px;
}
/* ------------------FIN CABECERA--------------- */

/* ---------------------CUERPO---------------------- */

/*-----------------------Acerca de --------------------*/
.principal .acercade {
  text-align: center;
}

.principal .acercade .foto {
  margin-top: -60px;
}

.principal .acercade .foto img {
  border-radius: 50%;
  width: 250px;
  height: 260px;
  vertical-align: top;
  border: 5px solid grey;
}

.principal .acercade .texto {
  font-weight: 600;
  width: 80%;
  margin: 40px auto 60px auto;
}

.principal .acercade .texto .titulo {
  font-size: 34px;
  margin-bottom: 40px;
  font-weight: bolder;
  color: darkgoldenrod;
}

/*-------------------Fin de Acerca de ---------------*/

/*---------------------Trabajos-------------------*/

.principal .trabajos {
  background-color: rgb(187, 184, 184);
  padding: 60px 0;
}

.principal .trabajos .titulo {
  font-size: 35px;
  margin: 60px;
  font-weight: bolder;
  color: darkmagenta;
  text-align: center;
}

.principal .trabajos .contenedortrabajo {
  justify-content: space-between;
}

.principal .trabajos .contenedortrabajo .trabajo {
  width: 25%;
  margin-bottom: 40;
}

.principal .trabajos .contenedortrabajo .trabajo .imagen {
  width: 100%;
  margin-bottom: 10px;
}

.principal .trabajos .contenedortrabajo .trabajo .imagen img {
  vertical-align: top;
  width: 100%;
  border-radius: 10px;
}

.principal .trabajos .contenedortrabajo .trabajo .descripcion {
  text-align: center;
}

.principal .trabajos .contenedortrabajo .trabajo .descripcion .nombre {
  font-weight: bolder;
  color: darkmagenta;
  margin-bottom: 10px;
}

.principal .trabajos .contenedortrabajo .trabajo .descripcion .categoria {
  font-size: 15px;
  color: dimgray;
}
/* ----------------------------Fin de Trabrajos--------------------- */

/*----------------------------Fin del Cuerpo------------------------*/
/* 1 h .09 min */
